ipykernel
numpy
pandas
lxml
html5lib
beautifulsoup4
openpyxl
matplotlib
seaborn
flask
mlflow
scikit-learn
keras 
tensorflow
hyperopt
dvc 
langchain
langchain_openai
langchain_core
bs4 
streamlit 
Flask
